DB_URL=jdbc:postgresql://TU_HOST.neon.tech/geoeventos?sslmode=require&channel_binding=require
DB_USERNAME=tu_usuario
DB_PASSWORD=tu_password
SERVER_PORT=8080
IMGBB_API_KEY=tu_api_key
IMGBB_URL=https://api.imgbb.com/1/upload